@model DVDCollection.Models.FilmsActorRol

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FilmsActorRol</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FilmTitleID" class="control-label"></label>
                <select asp-for="FilmTitleID" class ="form-control" asp-items="ViewBag.FilmTitleID">
                    <option value="">--- Select Film Title ---</option>
                </select>
                <span asp-validation-for="FilmTitleID" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <label asp-for="ActorID" class="control-label"></label>
                <select asp-for="ActorID" class ="form-control" asp-items="ViewBag.ActorID">
                    <option value="">--- Select Actor ---</option>
                </select>
                <span asp-validation-for="ActorID" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <label asp-for="RoleTypeID" class="control-label"></label>
                <select asp-for="RoleTypeID" class ="form-control" asp-items="ViewBag.RoleTypeID">
                    <option value="">--- Select RoleType ---</option>
                </select>
                <span asp-validation-for="RoleTypeID" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <label asp-for="CharacterName" class="control-label"></label>
                <input asp-for="CharacterName" class="form-control" />
                <span asp-validation-for="CharacterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CharacterDescription" class="control-label"></label>
                <input asp-for="CharacterDescription" class="form-control" />
                <span asp-validation-for="CharacterDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
