@{
    ViewData["Title"] = "Diagrama";
}
<div class="text-center">
    <h1 class="display-4">DVDCollection</h1>
        <img src = "/images/Diagrama.Gif" alt = "Diagrama" />
        <p>Información del modelo de DVDCollection <a href="http://www.databasedev.co.uk/dvd_collection_data_model.html">Modelo-info</a>.</p>
        <p> <a href="http://www.databasedev.co.uk/image/dvd_collection_data_model.gif">Imagen</a> del modelo.</p>
</div>
