@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

      <img src = "/images/banner.png" alt = "Diagrama" width="1000" height="600"/>
    
    
</div>
